<div class="container">

	<div class="row justify-content-center">

		<div class="col-md-6">

		  	<div class="card-body">
		  		<h4> Marco Cofin</h4>
		  		<h6> Última Publicação: <%= @count_marks[:publish_date] %></h6>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Número de Vagas</th>
							<th scope="col">Carga Horária</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row"><b>Aprovadas</b></td>
							<td><%= @count_marks[:jobs]  %></td>
							<td><%= @count_marks[:workload] %></td>
						</tr>

						<tr>
							<td scope="row"><b>Utilizadas</b></td>
							<td><%= @count_marks[:percent_jobs] %>%</td>
							<td><%= @count_marks[:percent_workload] %>%</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

	</div>

	<br><br>

	<div class="row mx-md-nr" >
		<span class="border border-dark"></span>
	</div>

	<br><br>
	
	<div class="row">

		<div class="col-md-6">

			<div class="row">

				<div class="four col">	
					<div class="counter-box">
						<i class="fa fa-thumbs-o-up"></i>
						<span class="counter"><%= @count_jobs_all %></span>
						<p>Força de Trabalho Total</p>
					</div>
				</div>

				<div class="four col">	
					<div class="counter-box">
						<i class="fa fa-thumbs-o-up"></i>
						<span class="counter"><%= @count_jobs[:free] %></span>
						<p>Força de Trabalho FHEMIG</p>
					</div>
				</div>

			</div>
			<br><br><br>
			<div class="row">

				<div class="four col">	
						<div class="counter-box">
							<i class="fa fa-thumbs-o-up"></i>
							<span class="counter"><%=  @count_workload_all %></span>
							<p>Carga Horária Semanal Total</p>
						</div>
				</div>

				<div class="four col">	
					<div class="counter-box">
						<i class="fa fa-thumbs-o-up"></i>
						<span class="counter"><%= @count_jobs[:busy] %></span>
						<p>Carga Horária Semanal FHEMIG</p>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-6">

			<div class="four col">
				<p><b>Carreiras</b></p>
				<div class="card-body">
					<%= pie_chart(@table_careers_categorys, legend: "left") %>
				</div>
		  	</div>

		</div>
		
	</div>

	<div class="row mx-md-nr" >
		<span class="border border-dark"></span>
	</div>
	<br><br>

	<div class="row">

		<div class="col-md-8">
			<div class="four col">
		  		<div class="card-body">
				<%= pie_chart(@table_careers_categorys, legend: "left")%> 
				</div>
				/*previsao de finalizacao dos contratos ?? */
		  	</div>
		</div>

		<div class="col-md-4">
			<div class="four col">	
				<div class="counter-box bg-red">
					<i class="fa fa-thumbs-o-up"></i>
					<span class="counter"><%= @count_jobs[:busy] %></span>
					<p>Vagas Ocupadas Total</p>
				</div>
			</div>
			<br>
			<div class="four col">	
				<div class="counter-box bg-green">
					<i class="fa fa-thumbs-o-up"></i>
					<span class="counter"><%= @count_jobs[:free] %></span>
					<p>Vagas Livres Total</p>
				</div>
			</div> 
		</div>

	</div>
				
</div>

