<h1>Home#index</h1>
<p><%= @count_jobs[:total] %></p>
<p><%= @count_jobs[:free] %></p>
<p><%= @count_jobs[:busy] %></p>

<div class="container">
	<div class="row">
	<div class="four col">	
		<div class="counter-box colored">
			<i class="fa fa-thumbs-o-up"></i>
			<span class="counter"><%= @count_jobs[:total] %></span>
			<p>Total</p>
		</div>
	</div>

	<div class="four col">	
		<div class="counter-box colored">
			<i class="fa fa-thumbs-o-up"></i>
			<span class="counter"><%= @count_jobs[:total] %></span>
			<p>Total</p>
		</div>
	</div>

	<div class="four col">	
		<div class="counter-box colored">
			<i class="fa fa-thumbs-o-up"></i>
			<span class="counter"><%= @count_jobs[:total] %></span>
			<p>Total</p>
		</div>
	</div>

</div>
</div>

<%= link_to 'Entrar no sistema', rails_admin_path, class: 'btn btn-primary' %>

<div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>