

		<div class="container">
				<div class="alert alert-warning d-flex align-items-center bg-red" role="alert">

					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
  						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  						<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
					</svg>

  					<div>
  						<span><%= @count_contracts_due_in_90_days %> contratos administrativos com vencimento previsto para 90 dias </span>
  					</div>

  				</div>

			</div>

			<div class="row">

				<div class="four col">	
					<div class="counter-box colored">
						<i class="fa fa-thumbs-o-up"></i>
						<span class="counter"><%= @count_jobs_all %></span>
						<p>Força de Trabalho Total</p>
					</div>
				</div>

				<div class="four col">	
					<div class="counter-box bg-green">
						<i class="fa fa-thumbs-o-up"></i>
						<span class="counter"><%= @count_jobs[:free] %></span>
						<p>Força de Trabalho FHEMIG</p>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="four col">	
						<div class="counter-box colored">
							<i class="fa fa-thumbs-o-up"></i>
							<span class="counter"><%=  @count_workload_all %></span>
							<p>Carga Horária Semanal Total</p>
						</div>
					</div>

				<div class="four col">	
					<div class="counter-box bg-green">
						<i class="fa fa-thumbs-o-up"></i>
						<span class="counter"><%= @count_jobs[:busy] %></span>
						<p>Carga Horária Semanal FHEMIG</p>
					</div>
				</div> 

			</div>

			<div class="row">

				<div class="card-body">
			  		<div class="card-body">
					<%= pie_chart(@table_careers_categorys, legend: "left") %>
					</div>
			  	</div>

			</div>

			<div class="row">
			  	<div class="card-body">
			  		<h1> Marco Cofin </h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Número de Vagas</th>
								<th scope="col">Carga Horária</th>
								<th scope="col">Data de Publicação</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= @count_marks[:jobs]  %></td>
								<td><%= @count_marks[:workload] %></td>
								<td><%= @count_marks[:publish_date] %></td>
							</tr>

							<tr>
								<td><%= @count_marks[:percent_jobs] %>%</td>
								<td><%= @count_marks[:percent_workload] %>%</td>
								<td>-</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>

			<div class="card">
			  	<div class="card-header">
			    	<p>Quantidade de Contratos por Data de Início</p>
			  	</div>
			 	<div class="card-body">
			    	<%= area_chart(counting_level_careers, {adapter: 'google'})%>
			  	</div>
			</div> 

			<div class="row">

				<!-- Quantidade de contratos com restrições por unidade  -->

			</div>
							
		</div>
	</div>
	
		


